fastapi==0.115.0
uvicorn[standard]==0.30.6
pandas-datareader==0.10.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
PyPortfolioOpt==1.5.5
scipy==1.13.1
pydantic==2.8.2
supabase==2.7.4
python-dotenv==1.0.1
